# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
server
stick-rumble-server

# Test binary
*.test

# Output of go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment variables
.env
.env.local
